
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: white;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
}


header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
   
}

.header_img {
    width: 100px;
    height: 100px;
    
}

.header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header_text {
    font-size: 40px;
    font-weight: 700;
    color: #333;
   
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: end;
}

nav ul {
    display: flex;
   gap: 14px;

    
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #00388B;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

.action_btn {
    display: flex;
    gap: 10px;
    align-items: center;
   

}

.action_btn a {
    background: #00388B;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    transition: background 0.3s ease;
}

.action_btn a:hover {
    background: #002566;
}


.toggler {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    
}

.toggler span {
    width: 30px;
    height: 30px;
    color: #333;
}


.hero {
  text-align: center;
  width: 100vw;
  margin-top: 130px;
  height: 40vh;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, #5d34a1, #3d1b70);
  position: relative;
}

.hero h1 {
  font-size: 2.5rem;


}

.search-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.search-bar select,
.search-bar button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.search-bar select {
  background-color: white;
  color: #3d1b70;
  cursor: pointer;
}

.search-bar button {
  background-color: #1c6dd0;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.search-bar button:hover {
  background-color: #174ea0;
}

.popular-searches {
  margin-top: 2rem;
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.popular-searches h2 {
  margin-bottom: 1rem;
}

.search-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.search-tags button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-tags button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


.find{
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;

}

.find_container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
   
}

.find_container h1{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5%;
}

.side h2{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;

}

.fit{
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 100%;
    padding: 0 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cards .card{
    padding: 30px;
    width: 110%;
    height: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333;
    border-radius: 20px;
    gap: 10px;
    overflow: hidden;

}

.card h3{
    font-size: 18px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card small{
    margin-bottom: 20px;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_btn{
    margin-top: 20px;
    margin-bottom: 20px;
}


.carrer{
    background: #111827;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.carrer_aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* flex-direction: column; */
}

.career_header{
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 10px;
}

.career_header h2{
    width: 100%;
     margin-bottom: 10px;
    font-size: 30px;
}

.career_header p{
    width: 100%;
    font-size: 20px;
    line-height: 2;
}

.right_side img{
    width: 90%;
    height: 50%;
    /* display: none; */
    justify-content: flex-end;
}

.carrer_body{
    display: flex;
 align-items: center;
 justify-content: center;

}

.context{
    width: 100%;
    align-items: center;
    display: flex;
    line-height: 2;
    gap: 10px;
}

.carerr_buttons{
    display: flex;
    gap: 20px;
    width: 100%;
}



.carerr_buttons a{
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carerr_buttons a:first-child {
    background: #00388B;
}



.upload{
    width: 100vw;
    display: flex;
    margin-top: 20px;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.upload_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #000;
    line-height: 2;
    padding: 0 5%;
}

.upload_text a{
    background: #00388B;
    color: #fff;
    border-radius: 20px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.jobs{
    width: 100%;
    height: 50vh;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
}

.sections{
    margin-top: 20px;
    width: 70%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height:2.5;
    font-size: 19px;
    font-weight: 400;
}





::-webkit-scrollbar{
    display: none;
}








@media screen and (min-width: 850px) and (max-width:1350px){
        body{
            position: relative;
           
        }    
    
    .toggler{
            display: block;
        }

        nav{
            position: fixed;
            top: 0;
            left: -100%;
             z-index: 3;
            height: 100vh;
            flex-direction: column;
            background: #fff;
             width: 30%;
             overflow: hidden;
             animation: show 400ms ease forwards;
             display: none;
        }
        @keyframes show {
            to{
                left: 0;
            }
        }
        nav ul{
            flex-direction: column;
            height: 80vh;
            margin-top: 70px;
            width: 50%;
            line-height: 3;
        }

        #close{
            display: none;
        }

        nav ul li{
            font-size: 28px;
            
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
        .card{
            display: grid;
        }

        .action_btn{
            flex-direction: column;
            height: 100vh;
            width: 100%;
        }

        .action_btn a{
            width: 60%;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            
        }


        
        .carrer_aside{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            /* flex-direction: column; */
        }
        
        .career_header{
            display: flex;
            flex-direction: column;
            padding: 7%;
            gap: 10px;
            width: 100%;
        }
        
        .career_header h2{
            width: 100%;
           margin-bottom: 10px;
            font-size: 20px;
        }
        
        .career_header p{
            width: 100%;
            font-size: 15px;
            line-height: 2;
        }
        
        .right_side img{
            width: 90%;
            height: 50%;
            /* display: none; */
            justify-content: flex-end;
        }
        
        .carrer_body{
            display: flex;
            width: 100%;
         align-items: center;
         justify-content: center;
        
        }
        
        .context{
            gap: 20px;
            width: 100%;
            align-items: center;
            display: flex;
            line-height: 1;
            flex-direction: column;
        }
        
        .carerr_buttons{
            display: flex;
            gap: 10px;
            width: 100%;
        }

      
        
        .carerr_buttons a{
            color: #fff;
            width: 100%;
            padding: 7px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }




.upload_text{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: #000;
    line-height: 2;
    padding: 0 5%;
}


.sections{
  
    grid-template-columns: repeat(2, 1fr);
    
}




}





@media screen and (max-width:900px){
    body{
        position: relative;
       
    }    

    header{
        width: 100%;
        height: 15vh;
    }

    .header_text{
        font-size: 20px;
    }

    .carerr_buttons{
        justify-content: space-between;
    }

    .many{
        display: flex;
        flex-direction: column;
       
    }

    .carrer{
        height: 100vh;
    }

    .carrer_aside{
        flex-direction: column;
        margin-top: 100px;
    }
    .career_header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .context{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
    }
 .right_side{
    width: 100%;
    display: flex;
    align-content:center;
    justify-content: center;
 }

    .right_side img{
        width: 70%;
        height: 70%;
    
    }
    .hero{
        height: 80vh;
        overflow: hidden;
        max-width:100%;
    }

    .hero h1{
        font-size: 25px;
        margin-top:10;
        margin-bottom: -30px;

    }

    .search-bar{
        display: grid;
        width: 100%;
        
    }

    .search-bar select{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
.toggler{
        display: block;
    }

    nav{
        position: fixed;
        top: 0;
        left: -100%;
         z-index: 3;
        height: 100vh;
        flex-direction: column;
        background: #fff;
         width: 70%;
         overflow: hidden;
         animation: show 400ms ease forwards;
         display: none;
    }
    @keyframes show {
        to{
            left: 0;
        }
    }
    nav ul{
        flex-direction: column;
        height: 80vh;
        margin-top: 70px;
        width: 50%;
        line-height: 3;
    }

    #close{
        display: none;
    }

    nav ul li{
        font-size: 28px;
        
    }

    .find{
        margin-top: 20px;
    }

    .find h1{
        font-size: 22px;
    }
    .cards{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;


    }
   

    .action_btn{
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .action_btn a{
        width: 60%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        
    }

    .upload{
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }

    .upload img{
        height: 30vh;
        margin-top: 90px;
    }

    .upload_text{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #000;
        align-items: center;
        justify-content: center;
        line-height: 2;
        padding: 0 5%;
    }

    .upload_text a{
        width: 70%;
        margin-bottom: 40px;
    }
    
    .jobs h1{
        margin-top: 50px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .sections{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        
    }
    


}